<header>
  <div>
    <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
    <small>{{ site.tagline }}</small>
  </div>
  <nav>
    <a href="{{ '/' | relative_url }}">Home</a>
    <a href="{{ '/analysis/' | relative_url }}">Analysis</a>
    <a href="{{ '/adaptations/' | relative_url }}">Adaptations</a>
    <a href="{{ '/full-text/' | relative_url }}">Full Text</a>
    <a href="{{ '/related-works/' | relative_url }}">Related Works</a>
    <a href="{{ '/blog/' | relative_url }}">Blog</a>
  </nav>
</header>
